body {
    font-family: 'Lato', sans-serif;
}

.footer {
    padding: 15px;
    text-align: center;
    letter-spacing: 3px;
    color: #fff;
    background-color: #333;
}

.title-box {
    padding: 20px;
    background-color: #fff;
    color: #fff !important;
}

.box {
    border-radius: 20px;
}

.center {
    text-align: center;
}

.subtitle {
    color: #000 !important;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.subtitle-header {
    color: #000 !important;
    padding-bottom: 150px;
}

.title {
    color: #00a7ff !important;
}

.box {
    background-color: #fff;
}

.left-box {
    margin-bottom: 200px !important;
    text-align: left;
}

.right-box {
    margin-bottom: 200px !important;
    text-align: right;
}

.center-box {
    margin-bottom: 100px !important;
    text-align: left;
}

.img-div {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 320px;
    height: 180px;
}

.only-img {
    margin-right: 10px;
    margin-left: 10px;
    background-color: #aaa;
    height: 100%;

}

.custom-link {
    text-decoration: underline !important;
    color: #00a7ff !important;
}
